@model TaskManager1.Models.Task

<h1>Create New Task</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" required></input>
    </div>
    
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" name="Description"></textarea>
    </div>
    
    <div class="form-group">
        <label for="Priority">Priority</label>
        <select class="form-control" id="Priority" name="Priority" required>
            <option value="1">Low</option>
            <option value="2">Medium</option>
            <option value="3">High</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="File">Attach File</label>
        <input type="file" class="form-control" id="File" name="File"/>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Create Task</button>
</form>
<a href="@Url.Action("Index", "Home")">Back to Tasks List</a>